/* button */

.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 24px;
    border-color: transparent;
    transition: background-color var(--anim-slow);
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        padding: 11px 32px;
    }
}

.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
}

.button.secondary {
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.button.different {
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 25px;
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}