/* backrdop + modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    z-index: 10;

    transition: opacity var(--anim-slow) visibility var(--anim-slow);
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

/* стан відкритого модального вікна */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    ;
    transform: translateX(-50%) translateY(-50%);

    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
