:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-color: #F5F4FA;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --indent: 30px;
    --items-count: 3;
    --footer-color: #2F303A;
    --border: #EEEEEE;
    --header: #ECECEC;
    --grey: #AFB1B8;
    --transparent-grey: rgba(255, 255, 255, 0.1);
    --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}